.inner {
  max-width: 987px;
  margin: 0 auto;
}
header {
  height: 48px;
  background-color: #76e4eb;
}

.hero-banner:nth-child(1) {
  height: 280px;
  background: #315fa4;
  margin-bottom: 2%;
  display: block;
}

.hero-banner:nth-child(2) {
  height: 894px;
  width: 231px;
  background: #315fa4;
  margin-right: 21px;
  margin-bottom: 2%;
  float: left;
}

.img {
  background: #1dcd79;
}

.img:nth-child(-n + 3),
.img:nth-child(n + 7):nth-child(-n + 9) {
  margin-right: 21px;
  height: 320px;
  width: 231px;
  float: left;
}

.img:nth-child(n + 4):nth-child(-n + 6),
.img:nth-child(n + 10):nth-child(-n + 12) {
  margin-top: 5px;
  margin-bottom: 2%;
  margin-right: 21px;
  height: 81px;
  width: 231px;
  float: left;
}

.img:nth-child(3),
.img:nth-child(6),
.img:nth-child(9),
.img:nth-child(12) {
  margin-right: 0 !important;
}

.header-bottom {
  background: #76e4eb;
  height: 36px;
  width: 735px;
  float: right;
  margin-top: 6px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  height: 266px;
  background: #c01887;
}

/* @media screen and (min-width: 767px) {
  .inner {
    max-width: 987px;
  }

  .hero-banner:nth-child(1) {
    height: 620px;
    width: 399px;
    margin-right: 2%;

    float: left;
  }

  .hero-banner:nth-child(2) {
    height: 620px;
    width: 568px;

    float: left;
  }

  .img {
    width: 231px;
    height: 220px;
    margin-right: 21px;
    float: left;
  }

  .img:nth-child(4),
  .img:nth-child(8),
  .img:nth-child(12) {
    margin-right: 0;
  }

  .footer {
  }
} */

/* .img:nth-child(1) {
      margin: 20px auto;
    
      height: 460px;
      width: 428px;
    
      display: block;
    }
    
    .img:nth-child(2) {
      margin-right: 0;
      margin-bottom: 20px;
      height: 220px;
    
      display: block;
    } */
