.inner {
  max-width: 428px;
  margin: 0 auto;
}
header {
  height: 48px;
  background-color: #76e4eb;
  border: 2px solid orange;
}

.hero-banner {
  height: 420px;
  background: #315fa4;
}

.cta-features {
  margin: 21px 0;
  gap: 21px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta:nth-child(1),
.cta:nth-child(2) {
  background-color: #ca1dcd;
}

.cta:nth-child(1) {
  height: 460px;
}

.cta:nth-child(2) {
  height: 220px;
}

.footer {
  height: 172px;
  background: #c01887;
}

@media screen and (min-width: 767px) {
  .inner {
    max-width: 987px;
  }

  .cta-features {
    flex-direction: row;
  }

  .cta:nth-child(1) {
    height: 220px;
    width: 651px;
  }

  .cta:nth-child(2) {
    height: 220px;
    width: 315px;
  }
}
