.inner {
  max-width: 428px;
  margin: 0 auto;
}
header {
  height: 48px;
  background-color: #76e4eb;
  border: 2px solid orange;
}

.app-navigation-drawer {
  position: relative;
  display: none;
  z-index: 43;
  height: 200px;
  background-color: brown;
}

.sr-only {
  display: block;
}

.navigation {
  display: block;
  position: relative;
}
.fa-bars .fas {
  position: relative;
  top: 0;
  right: 0;
  padding: 5px 5px;
}

#hamburger-menu {
  /* Hide the checkbox */

  display: none;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /* Show nav :checked */
  display: block;
}
.navigation ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.hero-banner {
  position: relative;
  display: flex;
  height: 420px;
  background: #315fa4;
}

.hero-heading {
  position: relative;
  top: 310px;
  left: 25px;
}

.cta {
  margin: 20px auto;
  height: 220px;
  width: 428px;
  background: #ca1dcd;
  display: flex;
  position: relative;
}

.cta1-heading {
  position: relative;
  margin: auto;
  display: flex;
}

.cta:nth-child(3) {
  margin-right: 0;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

.footer {
  position: relative;
  height: 172px;
  max-width: 428px;
  padding: 15px;
  padding-top: 10px;
  background: #c01887;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.foot-second {
  display: none;
}

@media screen and (min-width: 767px) {
  .fa-bars {
    display: none;
  }

  .app-navigation-drawer {
    display: block;
    position: static;

    z-index: 43;
    height: initial;
    background-color: initial;
  }

  .navigation {
    display: block;
    position: relative;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    right: 0;
  }

  .navigation ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }

  header {
    width: 100%;
  }

  .inner {
    max-width: 987px;
    display: flex;
  }

  .hero-banner {
    width: 100%;
  }

  .cta {
    width: 315px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer {
    padding: 0;
    display: flex;
  }

  .footer-background {
    max-width: 100%;
    background: #c01887;
  }

  .foot-second {
    display: inline-block;
  }

  .footer ul li {
    margin-right: 100px;
  }
}
