body {
  font-family: "Rubik", sans-serif;
}
.inner {
  max-width: 428px;
  margin: 0 auto;
}
header {
  height: 48px;
  background-color: #fff;
  border: 2px solid orange;
}

.app-navigation-drawer {
  position: relative;
  display: none;
  z-index: 43;
  height: 200px;
  background-color: brown;
}

.sr-only {
  display: block;
}

.navigation {
  display: block;
  position: relative;
}
.fa-bars .fas {
  position: relative;
  top: 0;
  right: 0;
  padding: 5px 5px;
}

#hamburger-menu {
  /* Hide the checkbox */

  display: none;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /* Show nav :checked */
  display: block;
}
.navigation ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.hero-banner {
  background-image: url("../img/hero-banner.png");
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  height: 420px;
  padding: 1px;
}

.hero-heading {
  color: white;
  position: relative;
  top: 250px;

  display: block;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

.cta {
  margin: 20px auto;
  height: 220px;
  width: 428px;
  background: #ca1dcd;
  display: flex;
  align-items: center;
  position: relative;
}

.cta:nth-child(3) {
  margin-right: 0;
}

.cta:nth-child(1) {
  background-image: url("../img/cta1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta:nth-child(2) {
  background-image: url("../img/cta2.png");
}

.cta:nth-child(3) {
  background-image: url("../img/cta3.png");
}

.cta1-heading {
  color: white;
  position: relative;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

.footer {
  position: relative;
  height: 172px;
  max-width: 428px;
  padding: 15px;
  padding-top: 10px;
  background: #111;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.foot-second {
  display: none;
}

.foot-first {
  color: white;
}

@media screen and (min-width: 767px) {
  .fa-bars {
    display: none;
  }

  .app-navigation-drawer {
    display: block;
    position: static;

    z-index: 43;
    height: initial;
    background-color: initial;
  }

  .navigation {
    display: block;
    position: relative;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    right: 0;
  }

  .navigation ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }

  header {
    width: 100%;
  }

  .inner {
    max-width: 987px;
    display: flex;
  }

  .hero-banner {
    width: 100%;
    background-size: 80%;
    background-position: inherit;
    background-repeat: repeat;
  }

  .hero-heading {
    text-align: inherit;
    margin-left: 40px;
  }

  .cta {
    width: 315px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .footer {
    display: flex;
  }

  .footer-background {
    max-width: 100%;
    background: #111;
  }

  .foot-second {
    display: inline-block;
    margin: 0;
    color: white;
  }

  .footer h4 {
    margin: 2px;
  }

  .footer ul li {
    margin-right: 100px;
  }
}
